*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-holder{
    width: 500px;
    height: 180px;
    display: flex;
    border-radius:3px;
    background: white;
    padding: 20px;
    gap: 20px;
    font-family: poppins;
    margin-inline: 30px;
}
.card-right{
    flex: 1;
    height: 150px;
    background-color: tomato;
    border-radius: 5px;
}
.left-middle{
    font-size: 12px;
    margin-bottom: 65px;
    width: 90%;
    color: grey;
    font-weight: 500;
}
.card-left{
    flex: 2;
}
.left-bottom{
    display: flex;
    width: 90%;
}

.bottom-right{
    flex: 1.7;
    display: flex;
    gap: 15px;
}
.ash-box{
    width: 20px;
    height: 20px;
    background-color: grey;
}
.bottom-left{
    font-size: 12px;
    font-weight: 500;
    color: grey;
    flex: 1.3;
}